boto3==1.13.24
Django==4.2.18
celery==5.2.2
django-rest-framework>=3.9.1
djangorestframewor>=3.15.2
psycopg2-binary==2.8.5
python-decouple==3.3
djangorestframework-jwt
pytest
pytest-django
pytest-cov
